<!DOCTYPE html>
<div class="center hero-unit hero-color hero-background">
	<h1 id="idea"> Try Sample Twitter </h1>	
	<h2> 
		Welcome to Try Sample Twitter.
        Find out what’s happening and share your ideas, 
        right now, with the people and organizations you care about.
	</h2>
	<%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
</div>