<div class= "center hero-unit hero-color hero-background bottom top">
    <div class= "row top-margin1" >
      <div class= "span11">
        <%= link_to(" ","http://www.twitter.com", :class => "icon-twitter icon-2x pull-right") %>
        <%= link_to(" ","http://www.facebook.com", :class => "icon-facebook icon-2x icon-space pull-right") %>
        <%= link_to(" ","http://www.linkedin.com", :class => "icon-linkedin icon-2x icon-space pull-right") %>
      </div>
    </div>
    <h1 id="idea"> Try Sample Twitter </h1> 
    <h2> 
      Welcome to Try Sample Twitter.
          Find out what’s happening and share your ideas, 
          right now, with the people and organizations you care about.
    </h2>
    <p class="bottom-margin2"> <%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
    </p>
  </div>
  <div class= "hero-unit hero-background top">
    <div class="home-footer img-rounded">
    </div>
  </div>